@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    ////////////////////
    <script src="~/js/signalr.js"></script>
    <script src="~/js/view.js"></script>
    <script>
        connection.start();
    </script>
}

<div id="calendar_bar" class="row">
    <div class="w-100 text-center" role="status">
        <button id="world_continue_button" class="float-right" onclick="ContinueWorld()">Continue</button>
        <div id="world_processing" class="d-inline-block spinner-border invisible" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="world_date" class="d-inline-block" role="status">
            @Model.WorldDate.ToString()
        </div>
    </div>
</div>
<div id="news_ticker" class="w-100 overflow-hidden">
    <div class="d-inline-block">ContentText</div>
    <div class="d-inline-block">ContentText with more length</div>
    <div class="d-inline-block">ContentText with more length</div>
    <div class="d-inline-block">ContentText with more length</div>
    <div class="d-inline-block">ContentText with more length</div>
    <div class="d-inline-block">ContentText with more length</div>
    <div class="d-inline-block">ContentText with more length</div>
</div>



<div id="world_view" class="w-100">
    <div id="continent_view" class="w-100 text-center">
        <label asp-for="@Model.Continents" class="w-25"></label>
        @Html.DropDownList("selectedcontinent", Model.Continents,
       htmlAttributes: new { @class = "w-25" })
    </div>
    <div id="country_view" class="w-100 text-center">
        <label asp-for="@Model.ContinentCountries" class="w-25"></label>
        @Html.DropDownList("selectedcountry", Model.ContinentCountries,
        htmlAttributes: new { id = "country", @class = "w-25", onChange = "RequestCompetitionsData()" })
    </div>
</div>
<div id="competition_view" class="w-100 container">
    <div class="spacing" style="width: 12.5%;"></div>
    @Html.DropDownList("selectedcompetition", Model.CountryCompetitions,
    htmlAttributes: new { id = "competition", @class = "w-50", onChange = "RequestCompetitionData()" })
    @Html.DropDownList("selectedseason", Model.CountrySeasons,
    htmlAttributes: new { id = "season", @class = "", onChange = "RequestCompetitionData()" })
</div>

<div class="row">
    <div class="spacing" style="width: 12.5%"></div>
    <div class="w-75 card" style="min-height: 200px;">
        <div class="card-header">
            <span class="text-center">CompetitionStandings</span>
        </div>
        
        <div id="competitiontable" class="card-body">
            <div id="competitiontable_header" class="">
                <span class="col-3 col-sm-5 standings_club">Club</span>
                <span class="col-1 standings_W" style="">W</span>
                <span class="col-1 standings_T" style="">T</span>
                <span class="col-1 standings_L" style="">L</span>
                <span class="col-1 standings_GF" style="">GF</span>
                <span class="col-1 standings_GA" style="">GA</span>
                <span class="col-1 standings_points" style="">P</span>
            </div>
            <div id="competitiontable_view" class="">
                @if (Model.CompetitionStandings.Count == 0)
                {
                    <div class="text-center">No Standings</div>
                }
                else
                {
                    @foreach (var entry in Model.CompetitionStandings)
                    {
                        <div class="w-100 standings_element">
                            <span class="col-3 col-sm-5 standings_club">@entry.Club.Name</span>
                            <span class="col-1 standings_W" style="">@entry.Won</span>
                            <span class="col-1 standings_T" style="">@entry.Tied</span>
                            <span class="col-1 standings_L" style="">@entry.Lost</span>
                            <span class="col-1 standings_GF" style="">@entry.GoalsFor</span>
                            <span class="col-1 standings_GA" style="">@entry.GoalsAgainst</span>
                            <span class="col-1 standings_points" style="">@entry.Points</span>
                        </div>
                    }
                }
            </div>
        </div>
        </div>
    </div>



<div class="row">
    <div class="spacing" style="width: 12.5%"></div>
    <div class="w-75 card" style="min-height: 200px;">
        <span class="card-header">Matches</span>
        <div id="matches_view" class="card-body">
            @if (Model.CompetitionRoundMatches.Count == 0)
            {
                <div class="text-center">No Matches Planned</div>
            }
            else
            {
                <div class="row">
                        <span class="col-3 col-sm-4">@Model.CompetitionRoundMatches.First().Date</span>
                </div>
                @foreach (var match in Model.CompetitionRoundMatches)
                {
                    <div id ="match_@match.Id" class="row">
                        <span class="col-2 col-sm-4">@match.HomeClub.Name</span>
                        <span class="col-1 col-sm-2">@match.HomeScore - @match.AwayScore</span>
                        <span class="col-2 col-sm-4">@match.AwayClub.Name</span>
                        <span class="col-1 col-sm-1">@match.MinutesPlayed</span>
                    </div>
                }
            }
        </div>
    </div>
</div>
